// use global-quick-tap-ms for combos (requires PR 1387)
#undef COMBO_HOOK
#define COMBO_HOOK global-quick-tap-ms = <75>;

#define COMBO_TERM_FAST 35
#define COMBO_TERM_SLOW 45

ZMK_COMBO(rightEnter, &kp RET, RB1 RB2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(thumbRightEnter, &kp RET, RH1 RH2, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(leftEnter, &kp RET, LT1 LT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO(esc, &kp ESC, LB2 LB1, ALL, COMBO_TERM_FAST)
ZMK_COMBO(thumbLeftEsc, &kp RET, LH1 LH2, ALL, COMBO_TERM_SLOW)

ZMK_COMBO(colon, &kp COLON, RT2 RT3, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(dqt, &kp DQT, RT3 RT4, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(prct, &kp PRCNT, RB0 RB1, Base Num, COMBO_TERM_FAST)
ZMK_COMBO(excl, &kp EXCL, RB1 RB3, Base Num, COMBO_TERM_FAST)
ZMK_COMBO(qmark, &kp QMARK, RB2 RB3, Base Num, COMBO_TERM_FAST)
ZMK_COMBO(bslh, &kp BSLH, RB3 RB4, Base Num, COMBO_TERM_SLOW)
ZMK_COMBO(equal, &kp EQUAL, RM0 RM1, Base Num, COMBO_TERM_SLOW)
ZMK_COMBO(semi, &kp SEMI, RM3 RM4, Base Num, COMBO_TERM_SLOW)
ZMK_COMBO(under, &kp UNDER, LT0 LT1, Base Num, COMBO_TERM_FAST)
ZMK_COMBO(plus, &kp PLUS, LB0 LB1, Base Num, COMBO_TERM_FAST)
ZMK_COMBO(minus, &kp MINUS, LM0 LM1, Base Num, COMBO_TERM_FAST)
ZMK_COMBO(grave, &kp GRAVE, LT3 LT4, Base Num, COMBO_TERM_SLOW)
ZMK_COMBO(rpar, &kp RPAR, RT1 RM1, Num, COMBO_TERM_SLOW)
ZMK_COMBO(rbkt, &kp RBKT, RT2 RM2, Num, COMBO_TERM_SLOW)
ZMK_COMBO(rbrc, &kp RBRC, RT3 RM3, Num, COMBO_TERM_SLOW)

ZMK_COMBO(f11, &kp F11,   LM3 LB3,     Num, COMBO_TERM_SLOW)
ZMK_COMBO(f12, &kp F12,   LM2 LB2,     Num, COMBO_TERM_SLOW)

ZMK_COMBO(copy,  &kp LC(C),  LT2 LM2,     Base, COMBO_TERM_SLOW)
ZMK_COMBO(paste, &kp LC(LS(V)),   LT1 LM1,     Base, COMBO_TERM_SLOW)

ZMK_COMBO(tobase, &to Base, LH0 RH0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(capsword, &caps_word, LM4 RM4, Base Num, COMBO_TERM_SLOW)

ZMK_COMBO(mute, &kp K_MUTE, LT0 LT1, Media, COMBO_TERM_SLOW)
