// use global-quick-tap-ms for combos (requires PR 1387)
#undef COMBO_HOOK
#define COMBO_HOOK global-quick-tap-ms = <75>;

#define COMBO_TERM_FAST 35
#define COMBO_TERM_SLOW 45

ZMK_COMBO_ADV(rightEnter, &kp RET, RM1 RM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO_ADV(leftEnter, &kp RET, LT1 LT2, ALL, COMBO_TERM_FAST)
ZMK_COMBO_ADV(esc, &kp ESC, LM2 LM1, ALL, COMBO_TERM_FAST)

ZMK_COMBO_ADV(colon, &kp COLON, RT2 RT3, ALL, COMBO_TERM_SLOW)
ZMK_COMBO_ADV(dqt, &kp DQT, RT3 RT4, ALL, COMBO_TERM_SLOW)
ZMK_COMBO_ADV(prct, &kp PRCNT, RB0 RB1, Base Num, COMBO_TERM_FAST)
ZMK_COMBO_ADV(excl, &kp EXCL, RB1 RB3, Base Num, COMBO_TERM_FAST)
ZMK_COMBO_ADV(qmark, &kp QMARK, RB2 RB3, Base Num, COMBO_TERM_FAST)
ZMK_COMBO_ADV(bslh, &kp BSLH, RB3 RB4, Base Num, COMBO_TERM_SLOW)
ZMK_COMBO_ADV(equal, &kp EQUAL, RM0 RM1, Base Num, COMBO_TERM_SLOW)
ZMK_COMBO_ADV(semi, &kp SEMI, RM3 RM4, Base Num, COMBO_TERM_SLOW)
ZMK_COMBO_ADV(under, &kp UNDER, LT0 LT1, Base Num, COMBO_TERM_FAST)
ZMK_COMBO_ADV(plus, &kp PLUS, LB0 LB1, Base Num, COMBO_TERM_FAST)
ZMK_COMBO_ADV(minus, &kp MINUS, LM0 LM1, Base Num, COMBO_TERM_FAST)
ZMK_COMBO_ADV(grave, &kp GRAVE, LT3 LT4, Base Num, COMBO_TERM_SLOW)

ZMK_COMBO_ADV(f11, &kp F11,   LM3 LB3,     Num, COMBO_TERM_SLOW)
ZMK_COMBO_ADV(f12, &kp F12,   LM2 LB2,     Num, COMBO_TERM_SLOW)

ZMK_COMBO_ADV(copy,  &kp LC(LS(C)),   LB3 LB2,     ALL, COMBO_TERM_SLOW)
ZMK_COMBO_ADV(paste, &kp LC(LS(V)),   LB2 LB1,     ALL, COMBO_TERM_SLOW)

ZMK_COMBO_ADV(tobase, &to Base, LH0 RH0, ALL, COMBO_TERM_SLOW)
ZMK_COMBO_ADV(capsword, &caps_word, LM4 RM4, Base Num, COMBO_TERM_SLOW)

ZMK_COMBO_ADV(mute, &kp K_MUTE, LT0 LT1, Media, COMBO_TERM_SLOW)
