// use global-quick-tap-ms for combos (requires PR 1387)
#undef COMBO_HOOK
#define COMBO_HOOK global-quick-tap-ms = <75>;

#define COMBO_TERM_FAST 20
#define COMBO_TERM_SLOW 35

ZMK_COMBO_ADV(rightEnter, &kp RET, RM1 RM2, ALL, COMBO_TERM_FAST)
ZMK_COMBO_ADV(esc, &kp ESC, LM2 LM1, ALL, COMBO_TERM_FAST)
ZMK_COMBO_ADV(dqt, &kp DQT, LT3 LT4, ALL, COMBO_TERM_FAST)
ZMK_COMBO_ADV(prct, &kp PRCNT, RB0 RB1, Base, COMBO_TERM_FAST)
