/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                    // -----------------------------------------------------------------------------------------
                    // | TAB  |  Q  |  W  |  F  |  P  |  B  | ------ |  J  |  L   |  U  |  Y  |  ;  | BSPC     |
                    // | ESC  |  A  |  R  |  S  |  T  |  G  | ------ |  M  |  N   |  E  |  I  |  O  |  ENTER   |
                    // | SHFT |  Z  |  X  |  C  |  D  |  V  | ------ |  K  |  H   |  ,  |  .  |  /  | SHFT     |
                    //               | GUI | MEH/SPC | LALT | ------ | CTRL | to1 | ALT |
                    bindings = <
                    &kp TAB     &kp Q   &kp W   &kp F   &kp P   &kp B           &kp J   &kp L   &kp U       &kp Y     &kp SEMI   &kp BSPC
                    &kp ESC     &kp A   &kp R   &kp S   &kp T   &kp G           &kp M   &kp N   &kp E       &kp I     &kp O      &kp ENTER
                    &sk LSHFT   &kp Z   &kp X   &kp C   &kp D   &kp V           &kp K   &kp H   &kp COMMA   &kp DOT   &kp FSLH   &sk RSHIFT
                            &kp LGUI   &mt LC(LS(LALT)) SPC   &kp LALT           &sk RCTRL   &to 1   &kp RALT
                >;
                };
                layer_one {
                    // -----------------------------------------------------------------------------------------
                    // | TAB  |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
                    //               | GUI | MEH/SPC | to0 | ------ | CTRL | to2 | ALT |
                    bindings = <
                    &kp TAB     &kp EXCL   &kp AT   &kp HASH   &kp DLLR   &kp PRCNT           &kp CARET   &kp AMPS   &kp KP_MULTIPLY   &kp LPAR     &kp RPAR   &kp BSPC
                    &kp ESC     &kp A   &kp R   &kp S   &kp T   &kp G           &kp M   &kp N   &kp E       &kp I     &kp O      &kp ENTER
                    &sk LSHFT   &kp Z   &kp X   &kp C   &kp D   &kp V           &kp K   &kp H   &kp COMMA   &kp DOT   &kp FSLH   &sk RSHIFT
                            &kp LGUI   &to 0   &kp LALT           &sk RCTRL   &to 2   &kp RALT
                >;
                };
                layer_two {
                    // -----------------------------------------------------------------------------------------
                    // |      | PLAY  | PREV      |  NEXT     |    |    | ------ |  =  |  7  |  8  |  9  |  *  |          |
                    // |      |       |  VOL-     |  VOL+     |    |    | ------ |  /  |  4  |  5  |  6  |  -  |          |
                    // |      |       |  BRIGHT-  |  BRIGHT+  |    |    | ------ |  0  |  1  |  2  |  3  |  +  |          |
                    //                                  |     | to0|    | ------ |     | to3 |     |
                    bindings = <
                    &trans   &kp C_PP   &kp C_PREV     &kp C_NEXT     &trans   	  		&kp EQUAL   &kp N7   &kp N8   &kp N9   &kp KP_MULTIPLY   &kp BSPC
                    &trans   &trans     &kp C_VOL_DN   &kp C_VOL_UP   &trans		    	&kp FSLH    &kp N4   &kp N5   &kp N6   &kp MINUS         &kp ENTER
                    &trans   &trans     &kp C_BRI_DN   &kp C_BRI_UP   &trans    			&kp N0      &kp N1   &kp N2   &kp N3   &kp PLUS          &kp RSHIFT 
                                                     &trans   &to 0   &trans  				&trans  &to 3  &trans
                >;
                };
                // layer_three {
                    // -----------------------------------------------------------------------------------------
                    // |      | Scroll left  |  MOUSE UP   |  Scroll right     |    |    | ------ |  =  |  7  |  8  |  9  |  *  |          |
                    // |      | MOUSE LEFT      |  MOUSE DOWN     |  MOUSE RIGHT     |    |    | ------ |  /  |  4  |  5  |  6  |  -  |          |
                    // |      |       |  BRIGHT-  |  BRIGHT+  |    |    | ------ |  0  |  1  |  2  |  3  |  +  |          |
                    //                                  |     | to0|    | ------ |     | to3 |     |
                // }
        };
};

